<!-- search.html -->
{% extends 'base.html' %}
{% block title %}Search Users{% endblock %}

{%block styles%}
<link rel="stylesheet" href="../static/styles/login.css">
{%endblock%}

{% block content %}
{% include './includes/nav.html' %}
    <h1>Pokémon Matchup</h1>
    <div class="matchup-teams">
        <h2>{{ current_user.username.title() }}'s Team</h2>
        <div class="team">
                {% for pokemon in current_user_team %}
                    <div class="card">
                        <h5 class="card-title">#{{ pokemon.id }} - {{ pokemon.name }}</h5>
                        <img src="{{ pokemon.image }}" class="card-img-top" alt="{{ pokemon.name }}">
                        <div class="card-body">
                            <p class="card-text">
                                <b>HP:</b> {{ pokemon.base_hp }} <b>DEF:</b> {{ pokemon.base_def }} <b>ATK:</b> {{ pokemon.base_atk }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
        </div>
        <h4>VS</h4>
        <h2>{{ opponent.username.title() }}'s Team</h2>
        <div class="team">
                {% for pokemon in opponent_team %}
                <div class="card">
                    <h5 class="card-title">#{{ pokemon.id }} - {{ pokemon.name }}</h5>
                    <img src="{{ pokemon.image }}" class="card-img-top" alt="{{ pokemon.name }}">
                    <div class="card-body">
                        <p class="card-text">
                            <b>HP:</b> {{ pokemon.base_hp }} <b>DEF:</b> {{ pokemon.base_def }} <b>ATK:</b> {{ pokemon.base_atk }}
                        </p>
                    </div>
                </div>
                {% endfor %}
        </div>
        <div class="battle-result-btn">
            <button type="submit" class="btn btn-danger">Battle Results</button>
        </div>
    </div>
{% endblock %}