{% extends 'base.html' %}

{% block title %}My Pokémon{% endblock %}

{%block styles%}
<link rel="stylesheet" href="../static/styles/login.css">
{%endblock%}

{% block content %}
{% include './includes/nav.html' %}
<h1 class="pokeapp-text">My Pokémon</h1>
<div class="team">
    {% if caught_pokemon %}
    {% for pokemon in caught_pokemon %}
    <div class="card">
        <h5 class="card-title">#{{ pokemon.pokemon.id }} - {{ pokemon.pokemon.name }}</h5>
        <img src="{{ pokemon.pokemon.image }}" class="card-img-top" alt="{{ pokemon.pokemon.name }}">
        <div class="card-body">
            <p class="card-text">
                <b>HP:</b> {{ pokemon.pokemon.base_hp }} <b>DEF:</b> {{ pokemon.pokemon.base_def }} <b>ATK:</b> {{ pokemon.pokemon.base_atk }} <br>
            </p>
        </div>
        <form class="release-btn" method="POST" action="{{ url_for('main.release_pokemon', pokemon_id=pokemon.id) }}">
            <button type="submit" class="btn btn-danger">Release</button>
        </form>
    </div>
    {% endfor %}
    {% else %}
    <p>No Pokémon caught yet.</p>
    {% endif %}
</div>
{% endblock %}
