{% extends 'base.html' %}
{% block title %} Search Users {% endblock %}
{% block styles %}
<link rel="stylesheet" href="../static/styles/login.css">
{% endblock %}

{% block content %}
{% include './includes/nav.html' %}
<div class="container">
    <h1>All Users</h1>
    <div class="user-list">
        <ul>
            {% for user in users %}
            <div class="card">
                <h4 class="card-title">#{{ user.id }} - {{ user.username }}</h4>
                <img src="#" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text">
                        <b>Email:</b> {{ user.email }} <br>
                        <a href="{{ url_for('main.matchup', opponent_id=user.id) }}" class="btn btn-primary">Battle</a>
                    </p>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
