body{
    background: #134E5E;
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);
    background: linear-gradient(to right, #71B280, #134E5E); 
    height: 100vh;
}

.flex-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

form {
    max-width: 350px;
    width: 50%;
    min-width: 300px;
    background-color: white;
    padding: 20px;
    margin-top: 10vh;
    border-radius: 7.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.my-btn {
    color: white;
    background-color: #134E5E;
}

.my-btn:hover {
    color: white;
    background-color: #71B280;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
