html {
    background: #fffbd5;
    background: -webkit-linear-gradient(to top, #b20a2c, #fffbd5);
    background: linear-gradient(to top, #b20a2c, #fffbd5);
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background: #fffbd5;
    background: -webkit-linear-gradient(to top, #b20a2c, #fffbd5);
    background: linear-gradient(to top, #b20a2c, #fffbd5);
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

form {
    background-color: #dbdbdb;
    padding: 15px;
    margin: 25px auto;
    border-radius: 7.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    width: fit-content;
    text-align: center;
}
h1 {
    text-align: center;
    padding: 10px;
    margin: 0px;
}

h2 {
    padding: 10px;
    margin: 0px;
    text-align: center;
}

h4 {
    padding: 10px;
    margin: 0px;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-btn {
    color: dbdbdb;
    background-color: #b20a2c;
    padding: 10px;
}

.my-btn:hover {
    color: #b20a2c;
    background-color: #dbdbdb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    display: flex;
    padding: 5px;
    margin: 5px;
    border-radius: 7.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    width: fit-content;
    background-color: #dbdbdb;
    width: 225px;
    /* height: 275px; */
    height: auto;
}

.card-body {
    text-align: center;
    align-items: center;
    padding: 0px;
}

.card-title {
    padding: 5px;
    margin: 0px;
}

.card-text {
    padding-bottom: 10px;
    padding-top: 10px;
}

.card-img-top {
    border-radius: 7.5px;
    width: 110px;
    height: 110px;
    padding: 5px;
}

.form-label {
    padding: 10px;
}

#name.form-control {
    padding: 10px;
    margin: 0px;
}

.navbar {
    padding: 0px;
    background: transparent;
}

.container-fluid {
    background: #fffbd5;
    padding: 0px;
    margin: 0px;
}

.navbar-brand {
    padding: 8px 0px;
    color: #b20a2c;
    margin: 0px;
}

.navbar-brand:hover {
    color: #b20a2c;
}

.nav-link {
    color: #b20a2c;
    padding: 8px;
}

.nav-link:hover {
    color: #b20a2c;
}

.pokeapp-title {
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    width: fit-content;
}

.pokeapp-text {
    margin: 5px;
    padding: 5px;
}

.team {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 5px;
}

.release-btn {
    padding: 0px;
    margin: 0px;
}

.catch-btn {
    padding: 0px;
    margin: 0px;
}

.battle-result-btn {
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
}