body{
    background: #fffbd5;
    background: -webkit-linear-gradient(to top, #b20a2c, #fffbd5);
    background: linear-gradient(to top, #b20a2c, #fffbd5);
    height: 100vh;
}

form {
    background-color: #dbdbdb;
    padding: 15px;
    margin: 25px auto;
    border-radius: 7.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    width: fit-content;
    text-align: center;
}
h1 {
    text-align: center;
    margin: 250px auto;
}

h4 {
    padding: 5px;
    margin: 0px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-btn {
    color: dbdbdb;
    background-color: #b20a2c;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}

.my-btn:hover {
    color: #b20a2c;
    background-color: #dbdbdb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    display: flex;
    margin: 40px auto;
    padding: 10px;
    border-radius: 7.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-items: center;
    width: fit-content;
    background-color: #dbdbdb;
}

.card-body {
    text-align: center;
    align-items: center;
}

.card-title {
    padding: 10px;
    margin: 0px;
}

.card-img-top {
    border-radius: 7.5px;
    width: 75%;
    padding: 10px;
}

.form-label {
    padding: 10px;
}

#name.form-control {
    padding: 10px;
    margin: 0px;
}

.navbar {
    padding: 0px;
    background: transparent;
}

.container-fluid {
    background: #fffbd5;
    padding: 0px;
    margin: 0px;
}

.navbar-brand {
    padding: 8px 0px;
    color: #b20a2c;
    margin: 0px;
}

.navbar-brand:hover {
    color: #b20a2c;
}

.nav-link {
    color: #b20a2c;
    padding: 8px;
}

.nav-link:hover {
    color: #b20a2c;
}

.pokeapp-title {
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    width: fit-content;
}

.pokeapp-text {
    margin: 10px;
}

/* shiny hover */

.shiny-hover-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.shiny-hover {
    background-color: transparent;
    border: none;
    padding: 0px;
}

.shiny-hover:hover {
    background-color: transparent;
}

.shiny-hover-container .shiny-hover:hover::after {
        content: '';
        position: absolute;
        bottom: calc(100% + 10px);
        right: 0;
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
        border: 3px solid #000;
        border-radius: 5px;
        background-color: #dbdbdb;
        background-image: url('https://res.cloudinary.com/shiny24/image/upload/v1669396824/pokemon/shiny_symbol_pokemon_tdxjdc.png');
        content: 'Shiny preview coming soon!';
        text-align: center;
        font-weight: bold;
}